# gq
CONFIG_SENSORS_PWM_FAN=y

CONFIG_SND_SIMPLE_CARD=y
CONFIG_SND_SOC_TLV320AIC3X=y
CONFIG_SND_SOC_TLV320AIC3X_I2C=y
CONFIG_SND_SOC_FSL_SAI=y
CONFIG_IMX_SDMA=y

CONFIG_SND_IMX_SOC=y
CONFIG_SND_SOC_FSL_AUD2HTX=y
CONFIG_SND_SOC_IMX_HDMI=y
CONFIG_SND_SOC_HDMI_CODEC=y

CONFIG_CAN=y
CONFIG_CAN_RAW=y
CONFIG_CAN_BCM=y
CONFIG_CAN_GW=y
CONFIG_CAN_DEV=y
CONFIG_CAN_VCAN=y
CONFIG_CAN_FLEXCAN=y
CONFIG_CAN_DEBUG_DEVICES=y

CONFIG_RTC_HCTOSYS_DEVICE="rtc1"
CONFIG_RTC_SYSTOHC_DEVICE="rtc1"
CONFIG_RTC_DRV_DS1307=y

CONFIG_USB_NET_CDCETHER=y

CONFIG_EXTRA_FIRMWARE="imx/sdma/sdma-imx7d.bin regulatory.db regulatory.db.p7s"
CONFIG_EXTRA_FIRMWARE_DIR="firmware"

CONFIG_EXTCON_WUSB3801=y
CONFIG_DRM_PANEL_LONTIUM_LT8912B=y
CONFIG_YT8521SH_PHY=y

# CONFIG_LOCALVERSION_AUTO is not set
CONFIG_UEVENT_HELPER=y
CONFIG_UEVENT_HELPER_PATH=""
CONFIG_EXPERT=y
CONFIG_GPIO_SYSFS=y
CONFIG_USB_VIDEO_CLASS=y
CONFIG_USB_ANNOUNCE_NEW_DEVICES=y
CONFIG_EXFAT_FS=y
CONFIG_NLS_CODEPAGE_936=y
CONFIG_NLS_UTF8=y
CONFIG_PANIC_ON_OOPS=y
